.from_to{
   padding-left: 62%;

}
.most_search{
    padding-left: 20%;
}

.content{
    padding-top: 15px;
    
}

.container1{
    padding-top: 40px;
    padding-left:18%; 
}
.container2{
   padding-top: 200px;
   padding-left:5%;
}
.containeroflists{
    padding-top: 40px;
}
.footer1{
padding-top:10% ;
margin-top: 10%;
}
.color{
color: black;
}
.text_section{
    padding-left: 10%;
    padding-top: 15%;
}